<div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <!- Opcjonalnie modal-lg dla szerszego modala ->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addProductModalLabel">Dodaj nowy produkt</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Zamknij"></button>
            </div>
            <div class="modal-body">
                @* Używamy unikalnego ID dla formularza w modalu *@
                <form id="ajaxAddProductForm">
                    @* Renderujemy widok częściowy z formularzem.
                        Przekazujemy nową, pustą instancję ProductDTO. *@
                    @Html.Partial("~/Views/Product/_CreateProductForm.cshtml", new GasStation.DTO.ProductDTO())
                </form>
                <div id="addProductModalAlertPlaceholder" class="mt-3"></div> @* Miejsce na komunikaty *@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
                <button type="button" class="btn btn-primary" id="btnSaveProductAjax">Zapisz produkt    </button>
            </div>
        </div>
    </div>
</div>

