
@model GasStation.DTO.ProductDTO

@{
    ViewBag.Title = "Dodaj Nowy produkt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Create", "Product", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{ 
@Html.Partial("_CreateProductForm", Model)

    <div class="form-group mt-4">
        <div class="col-md-offset-2 col-md-10">
            @* Możesz dostosować klasy col-* dla Bootstrap 5, np. offset-md-2 *@
            <input type="submit" value="Utwórz produkt" class="btn btn-success" />
            @Html.ActionLink("Anuluj", "Index", "Produkt", null, new { @class = "btn btn-secondary" })
        </div>
    </div>
}

<div>
    @Html.ActionLink("Wróć do listy", "Index", "Produkt")
</div>

@section Scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}